node_modules
.DS_Store

bin
**/bin
**/*/bin
cli/bin

dist
**/dist
**/*/dist

build
**/build
**/*/build

storybook-static

**/*/package-lock.json

coverage

# Local Netlify folder
.netlify

*.log

.turbo

.yarn
.cache
**/.cache
**/*/.cache

**/*.generated.css

/api/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vercel

.env

temp

.firebase-*
