@font-face {
  font-family: "Metropolis";
  src: url("https://fontlibrary.org/assets/fonts/metropolis/d283c374f95567a131de266d8eee836c/1f05958f614d4e1a9c554365a79d5fe5/MetropolisMedium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("https://fontlibrary.org/assets/fonts/metropolis/d283c374f95567a131de266d8eee836c/f0f17e57a6bff586bd9168e48c693354/MetropolisSemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("https://fontlibrary.org/assets/fonts/metropolis/d283c374f95567a131de266d8eee836c/aba0929595c2e6843b555517f9d409b5/MetropolisExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  --grey000: hsl(0, 0%, 000%);
  --grey010: hsl(0, 0%, 010%);
  --grey020: hsl(0, 0%, 020%);
  --grey030: hsl(0, 0%, 030%);
  --grey040: hsl(0, 0%, 040%);
  --grey050: hsl(0, 0%, 050%);
  --grey060: hsl(0, 0%, 060%);
  --grey070: hsl(0, 0%, 070%);
  --grey080: hsl(0, 0%, 080%);
  --grey090: hsl(0, 0%, 090%);
  --grey100: hsl(0, 0%, 100%);

  --color-text-primary: var(--grey010);
  --color-text-secondary: var(--grey020);
  --color-text-disabled: var(--grey030);
  --color-background-primary: var(--grey100);
  --color-background-secondary: var(--grey090);
  --color-background-disabled: var(--grey070);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-primary: var(--grey090);
    --color-text-secondary: var(--grey080);
    --color-text-disabled: var(--grey070);
    --color-background-primary: var(--grey010);
    --color-background-secondary: var(--grey000);
    --color-background-disabled: var(--grey030);
  }
}

body {
  margin: 0;
  font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
}

dt {
  font-weight: 700;
  line-height: 1.2;
}

dd {
  line-height: 1.2;
  margin-left: unset;
  margin-bottom: 1em;
}
